---
import Layout from '../layouts/Layout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Github from '@icons/Github.astro'
import X from '@icons/X.astro'
import LinkedIn from '@icons/LinkedIn.astro'
import Projects from '@components/Projects.astro'

const projects: Project[] = [
  {
    title: 'Paste Bin',
    techs: ['Java', 'Spring Boot', 'MongoDB'],
    description: 'A simple text/code sharing platform.',
    link: 'https://github.com/yourusername/economy-plugin',
  },
  {
    title: 'E-commerce Backend',
    techs: ['Java', 'Spring Boot', 'MongoDB'],
    description:
      'Scalable microservices architecture for e-commerce applications.',
    link: 'https://github.com/yourusername/ecommerce-backend',
  },
  {
    title: 'Skywars plugin',
    techs: ['Java', 'Spigot API'],
    description: 'Popular skywars minigame plugin for Minecraft servers.',
    link: 'https://github.com/yourusername/server-manager',
  },
  {
    title: 'Redis Manager Library',
    techs: ['Java', 'Redis'],
    description:
      'RedisManager is a lightweight Java library that simplifies Redis connection management and packet handling.',
    link: 'https://github.com/yourusername/server-manager',
  },
  {
    title: 'Authentication Service',
    techs: ['Java', 'Spring Boot', 'JWT'],
    description:
      'Secure authentication service with role-based access control and token management.',
    link: 'https://github.com/yourusername/auth-service',
  },
  {
    title: 'Plomeria website',
    techs: ['Next.js'],
    description: 'Website for client with Plomeria services.',
    link: 'https://github.com/yourusername/auth-service',
  },
]
---

<Layout title="Enzo Loyola - Developer">
  <div class="flex flex-col min-h-screen bg-black text-white">
    <Header />

    <main class="flex flex-grow mx-auto px-4 py-16 gap-2 flex-col">
      <h1 class="text-5xl font-light text-white-500 text-center">
        Enzo Loyola
      </h1>
      <h2 class="text-1xl font-light text-gray-500 text-center">
        Java and web developer
      </h2>
      <div class="flex justify-center items-center gap-3">
        <a
          href="https://github.com/EnzoLy"
          class="text-gray-400 hover:text-white transition-all duration-300 relative group text-sm flex gap-1 mt-4"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Github width="24" height="24" />
        </a>
        <a
          href="https://x.com/EnzoL"
          class="text-gray-400 hover:text-white transition-all duration-300 relative group text-sm flex gap-1 mt-4"
          target="_blank"
          rel="noopener noreferrer"
        >
          <X width="24" height="24" />
        </a>
        <a
          href="https://www.linkedin.com/in/enzoloyola/"
          class="text-gray-400 hover:text-white transition-all duration-300 relative group text-sm flex gap-1 mt-4"
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkedIn width="24" height="24" />
        </a>
      </div>

      <Projects projects={projects} />
    </main>
    <Footer />
  </div>
</Layout>
